
<link rel="stylesheet" href="/public/css/style.css">

<!-- Footer -->
<footer class="page-footer font-small blue">
    <!-- Copyright -->
    <div class="footer-copyright text-center ">© 2020 Copyright:
      <a href="/"> Kpop Merch</a>
    </div>
   
  </footer>
  <!-- Footer -->